/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Bryan Vargas
   Date:   01/14/19

   Filename: cg_validate.css

*/

/* The attributes of focus, valid, and invalid make the input boxes change in appearance depending if the information in the input box is acceptable. The color and images have been added to appear different if the information is acceptable or not. */
/* Validation Styles */
input:focus,
select:focus,
textarea:focus {
    background: rgb(220, 255, 220);
}

input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#addBox:focus:valid,
input#mailBox:focus:valid,
input#phoneBox:focus:invalid,
input#idBox:focus:invalid {
    background: rgb(220, 255, 220) url(cg_valid.png) bottom right/contain no-repeat;


}

input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
input#addBox:focus:invalid,
input#mailBox:focus:invalid,
input#phoneBox:focus:invalid,
input#idBox:focus:invalid {
    background: rgb(255, 232, 233) url(cg_invalid.png) bottom right/contain no-repeat;

}